@charset "utf-8";



img.drum{
	width: 30%;
	border: 3px solid black;
	margin: 20px;
}

img.oils{
	width: 30%;
	border: 3px solid black;
	margin: 20px;
}


img.spa{
	width: 30%;
	border: 3px solid black;
	margin: 20px;
}
